.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: .5rem;
}

.experience li .title {
    margin-bottom: 1rem;
    font-size: 1rem;    
}

.experience li p {
    font-size: .8rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: .5rem 2rem;    
}

.experience li .period::before {
    content: "";
    display: inline-block;
    width: .8rem;
    height: .8rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/calendar.svg');
    margin-right: .8rem;
    
}