* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/NeueMachina-Regular.otf');
}

body {
    background-color: #000;
    color: #fff;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}


.main::before,
.main::after {
    content: "";
    background: rgb(90, 13, 131);
    background: linear-gradient(130deg, rgba(90, 13, 131, 1) 0%, rgba(0, 0, 0, 1) 50%, rgb(34, 0, 171) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

@media only screen and (min-width: 750px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
}