* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/NeueMachina-Regular.otf');
}

body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    position: relative;
    z-index: -1;
    background: linear-gradient(135deg, #56125b 0%, #271e6e 25%, #000000 50%, #271e6e 75%, #56125b 100%);
    background-size: 200% 100%;
    animation: gradientMovement 7s ease infinite alternate;
    background-attachment: fixed;
}

.main {
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    max-width: 1024px;
}

.main::before,
.main::after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

@media only screen and (max-width: 1050px) {
    .main {
        margin: 1rem;
    }
}

@keyframes gradientMovement {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
