.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: .5rem 0;
}

.portfolio li a {
    margin: 0 1.6rem;
}

.portfolio li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: .2rem;
}

.portfolio li .title.img::before {
    content: "";
    display: inline-block;
    width:1.1rem;
    height:1.1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

/* .portfolio li .title.github::before {
    background-image: url('../img/icons/github.svg');
} */

.portfolio li .title.hbo::before {
    background-image: url('../img/icons/projects/hbo.png');
}

.portfolio li .title.html::before {
    background-image: url('../img/icons/projects/html.png');
}

.portfolio li .title.css::before {
    background-image: url('../img/icons/projects/css.png');
}

.portfolio li .title.js::before {
    background-image: url('../img/icons/projects/js.png');
}

.portfolio li .title.coffee::before {
    background-image: url('../img/icons/projects/coffee.png');
}

.portfolio li .title.calculator::before {
    background-image: url('../img/icons/projects/calculadora.png');
}

.portfolio li .title.todolist::before {
    background-image: url('../img/icons/projects/todolist.png');
}

.portfolio li .title.pokedex::before {
    background-image: url('../img/icons/projects/pokemon.png');
}

.portfolio li .title.discord::before {
    background-image: url('../img/icons/projects/discord.png');
}

.portfolio li a {
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}

.portfolio li a:hover {
    color: #262761;
    font-weight: 700;
}